

.navigation-column {
  background-color: #fafafa; 
  padding: 15px;
  height: 100vh;
}

.posts-column {
  padding: 15px;
}

.post-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.home-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


